@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Regular.woff2')
  format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/ProximaNova-Semibold.woff2')
  format('woff2');
  font-weight: 600;

}


body {
  margin: 0;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
}
html{
  box-sizing: border-box;
}
*, *:before, *::after{
  box-sizing:inherit ;
  
}